<div class="home-container" data-cy="home-foodie-cards">
  <mat-card
    *ngFor="let foodie of foodieMeals$ | async"
    attr.data-cy="home-foodie-{{ foodie.id }}-card"
  >
    <mat-card-header>
      <mat-card-title
        attr.data-cy="home-foodie-{{ foodie.id }}-title"
        [routerLink]="['foodies']"
      >
        {{ foodie.firstName }} {{ foodie.lastName }}
      </mat-card-title>
      <mat-card-subtitle>{{ foodie.type }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="foodie.meals?.length > 0; else noMeals">
      <mat-list data-cy="meals-list">
        <mat-list-item
          *ngFor="let meal of foodie.meals"
          attr.data-cy="home-foodie-{{ meal.id }}-foodies"
          [routerLink]="['meals']"
        >
          {{ meal.title }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <ng-template #noMeals> No Meals </ng-template>
  </mat-card>
</div>
